
<div id="loader-div" class="test bg-dark text-center text-white overflow-hidden width100">
  <div class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
          <h1 class="cover-heading">Download here the CSV File</h1>
          <p class="lead">The last csv file was created during last night</p>
          <p class="lead">
            <a href="/downloads" class="btn btn-lg btn-secondary">Download</a>
          </p>
        </main>
      </div>
  </div>
</div>
