<header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Solution of text (in Portuguese and English) and image processing, which allows the extraction of meaningful information through text and image  analysis in multiple contexts, based on NLP, Machine Learning and Vision techniques. CIP aims to raise the user experience to a new level, and increase efficiency in data insertion and search making them intelligent</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Pages</h4>
              <ul class="list-unstyled">
                <li><a onclick="$('.collapse').removeClass( 'show' )"  routerLink="/download" class="text-white" routerLinkActive="active">Download CSV</a></li>
                <li><a onclick="$('.collapse').removeClass( 'show' )" routerLink="/dashboard" class="text-white" routerLinkActive="active">Proccess State</a></li>
                <li><a onclick="$('.collapse').removeClass( 'show' )" routerLink="/data-dashboard" class="text-white" routerLinkActive="active">Data Dashboard</a></li>
                <li><a onclick="$('.collapse').removeClass( 'show' )" routerLink="/quality" class="text-white" routerLinkActive="active">Quality Assurance</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center" style="width: 80%;">
            <div class="containerImg">
              <img src="assets/images/powered_by.png">
            </div>
          </a>
          <button id="hamburguer" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

<router-outlet></router-outlet>
