
<div id="loader-div" class="test bg-dark text-center text-white overflow-hidden width100">
  <div class=" py-3">
    <div class="mr1 ml1 row my-3">
        <div class="col-md-4 mt3">
        </div>
        <div class="col-md-4 mt3" style="    height: 61px;">
          <h2 class="display5 text-blue">Bus List</h2>
        </div>
        <div class="col-md-4 mt3">
        </div>
    </div>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Número do Autocarro</th>
        <th scope="col">Estado</th>
        <th scope="col">Origem</th>
        <th scope="col">Destino</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proc of proccesses">
        <th scope="row">{{ proc.codigo }}</th>
        <td *ngIf="proc.state == 1" >
          <i class="fa fa-frown" style="font-size:24px;color:red"></i>
        </td>
        <td *ngIf="proc.state == 2" >
          <i class="fa fa-meh" style="font-size:24px;color:yellow"></i>
        </td>
        <td *ngIf="proc.state == 3" >
          <i class="fa fa-smile" style="font-size:24px;color:green"></i>
        </td>
        <td>{{ proc.origem }}</td>
        <td>{{ proc.destino }}</td>
      </tr>
    </tbody>
  </table>
</div>
