
.width100{
    width: 100%
}

.mt3{
  margin-top: 3%;
}

.mt7{
  margin-top: 7%;
}

.ml1{
  margin-left: 1%;
}

.mr1{
  margin-right: 1%;
}

.mycolor{
  color: #19BAF2!important;
}

.autoheight{
  height: auto;
}

.tex-gray{
  color: #343a40!important
}

/* resize images */
.containerImg img {
    width: 100%;
    height: auto;
}

.containerImg {
  left: 100%;
  width: 92px;
  position: relative;
  margin-top: -14%;
}

.icongreen{
  position: absolute;
  left: 7px;
  top: 5px;
}

.iconred{
  position: absolute;
  left: 7px;
  top: 5px;
}

.btn-circle-notValid{
  border-radius: 50%;
  height: 57px;
  width: 57px;
  position: fixed;
  left: 49px;
  top: 86%;
  z-index: 10000;
  color: #fff;
  background-color: #bd2130;
  border-color: #bd2130;
}

.btn-circle-notValid:hover {
    color: #fff;
    background-color: #4b0d13;
    border-color: #4b0d13;
}

.btn-circle-notValid:active {
    color: #fff;
    background-color: #c33744;
    border-color: #c33744;
}

.btn-circle{
  border-radius: 50%;
  height: 57px;
  width: 57px;
  position: fixed;
  right: 49px;
  top: 86%;
  z-index: 10000;
}

.btn-just-circle{
  border-radius: 50%;
  height: 57px;
  width: 57px;
}

a.btn {
  position: relative;
  top: -54px;
  right: -45%;
}

.highlightclass {
  background-color: #ccffcc
}

#loader {
  position: relative;
  left: 50%;
  top: 8%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

.test{
    height: 2000px; /* force the BODY element to match the height of the HTML element */
}

.test {
    background-color: #343a40!important;
}

.h2, h2 {
    font-size: 169%;
}
